services:

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/roadmap

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: roadmap
    ports:
      - "5433:5432"
    command: ["postgres", "-c", "listen_addresses=*"]
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:


