services:

#  app:
#    build: .
#    ports:
#      - "8080:8080"
#    env_file:
#      - .env

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${APP_CONFIG__DB__USERNAME}
      POSTGRES_PASSWORD: ${APP_CONFIG__DB__PASSWORD}
      POSTGRES_DB: ${APP_CONFIG__DB__NAME}
    ports:
      - "5433:5432"
    command: ["postgres", "-c", "listen_addresses=*"]
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
